In [9]:
import pandas as pd
import numpy as np
import geopandas as gpd
import pyproj
from shapely import geometry
import matplotlib.pyplot as plt

gdb='/home/ggrl/geodatabase/'

%matplotlib widget

import my_funcs as mf

In [8]:
l_100k = mf.litologia('l_100k')

In [10]:
varginha = mf.mapa(l_100k, 'Varginha - UFRJ')

In [3]:
l_1kk = mf.litologia('l_1kk')

In [12]:
varginha = varginha.to_crs('EPSG:32723')

In [13]:
varginha.plot()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [10]:
g_varginha = pd.read_csv(gdb+'geof/recortado/g_varginha')

In [11]:
g_varginha['geometry'] = [geometry.Point(x, y) for x, y in zip(g_varginha['X'], g_varginha['Y'])]
g_varginha

,CTCOR,eTh,eU,KPERC,LATITUDE,LONGITUDE,MDT,X,Y,geometry
0,1143.73,14.0,0.6,0.767,-21.500178,-45.498803,841.27,448358.28,7622423.14,POINT (448358.28 7622423.14)
1,1081.94,13.2,0.7,0.672,-21.500752,-45.498801,840.90,448358.69,7622359.61,POINT (448358.69 7622359.61)
2,1037.61,12.9,0.7,0.559,-21.501328,-45.498800,845.45,448359.00,7622295.86,POINT (448359 7622295.86)
3,1012.03,12.9,0.7,0.503,-21.501909,-45.498800,850.90,448359.20,7622231.55,POINT (448359.2 7622231.55)
4,1037.67,13.4,0.6,0.539,-21.502495,-45.498801,849.13,448359.31,7622166.69,POINT (448359.31 7622166.69)
...,...,...,...,...,...,...,...,...,...,...
78239,1678.03,23.4,0.8,0.144,-21.523203,-45.496703,876.74,448583.90,7619875.37,POINT (448583.9 7619875.37)
78240,1793.02,25.0,0.8,0.210,-21.523223,-45.497524,884.01,448498.88,7619872.89,POINT (448498.88 7619872.89)
78241,1860.36,25.8,0.7,0.292,-21.523240,-45.498342,880.68,448414.17,7619870.74,POINT (448414.17 7619870.74)
78242,1886.30,25.9,0.6,0.387,-21.523255,-45.499159,871.14,448329.57,7619868.81,POINT (448329.57 7619868.81)
78243,1889.20,25.6,0.6,0.431,-21.523269,-45.499974,864.78,448245.16,7619866.99,POINT (448245.16 7619866.99)

In [12]:
crs = "+proj=utm +zone=23 +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs"
gdf_varginha = gpd.GeoDataFrame(g_varginha, geometry='geometry', crs=crs)

gdf_varginha.head(10)

,CTCOR,eTh,eU,KPERC,LATITUDE,LONGITUDE,MDT,X,Y,geometry
0,1143.73,14.0,0.6,0.767,-21.500178,-45.498803,841.27,448358.28,7622423.14,POINT (448358.280 7622423.140)
1,1081.94,13.2,0.7,0.672,-21.500752,-45.498801,840.90,448358.69,7622359.61,POINT (448358.690 7622359.610)
2,1037.61,12.9,0.7,0.559,-21.501328,-45.498800,845.45,448359.00,7622295.86,POINT (448359.000 7622295.860)
3,1012.03,12.9,0.7,0.503,-21.501909,-45.498800,850.90,448359.20,7622231.55,POINT (448359.200 7622231.550)
4,1037.67,13.4,0.6,0.539,-21.502495,-45.498801,849.13,448359.31,7622166.69,POINT (448359.310 7622166.690)
5,1108.24,14.6,0.4,0.626,-21.503086,-45.498804,846.74,448359.20,7622101.28,POINT (448359.200 7622101.280)
6,1190.72,16.1,0.2,0.682,-21.503680,-45.498805,839.41,448359.31,7622035.53,POINT (448359.310 7622035.530)
7,1234.17,17.4,-0.0,0.672,-21.504277,-45.498807,842.65,448359.31,7621969.46,POINT (448359.310 7621969.460)
8,1260.00,18.5,-0.1,0.600,-21.504875,-45.498809,848.19,448359.32,7621903.27,POINT (448359.320 7621903.270)
9,1330.59,19.7,-0.1,0.566,-21.505476,-45.498815,852.49,448358.91,7621836.74,POINT (448358.910 7621836.740)

In [13]:
gdf_varginha.plot('CTCOR',cmap='hsv')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [14]:
"""
Create and operate on grids and profiles.

**Grid generation**

* :func:`~fatiando.gridder.regular`
* :func:`~fatiando.gridder.scatter`

**Grid operations**

* :func:`~fatiando.gridder.cut`
* :func:`~fatiando.gridder.profile`

**Interpolation**

* :func:`~fatiando.gridder.interp`
* :func:`~fatiando.gridder.interp_at`
* :func:`~fatiando.gridder.extrapolate_nans`

**Input/Output**

* :func:`~fatiando.gridder.load_surfer`: Read a Surfer grid file and return
  three 1d numpy arrays and the grid shape

**Misc**

* :func:`~fatiando.gridder.spacing`

----

"""

import numpy
import scipy.interpolate
import matplotlib.mlab


def load_surfer(fname, fmt='ascii'):
    """
    Read a Surfer grid file and return three 1d numpy arrays and the grid shape

    Surfer is a contouring, gridding and surface mapping software
    from GoldenSoftware. The names and logos for Surfer and Golden
    Software are registered trademarks of Golden Software, Inc.

    http://www.goldensoftware.com/products/surfer

    According to Surfer structure, x and y are horizontal and vertical
    screen-based coordinates respectively. If the grid is in geographic
    coordinates, x will be longitude and y latitude. If the coordinates
    are cartesian, x will be the easting and y the norting coordinates.

    WARNING: This is opposite to the convention used for Fatiando.
    See io_surfer.py in cookbook.

    Parameters:

    * fname : str
        Name of the Surfer grid file
    * fmt : str
        File type, can be 'ascii' or 'binary'

    Returns:

    * x : 1d-array
        Value of the horizontal coordinate of each grid point.
    * y : 1d-array
        Value of the vertical coordinate of each grid point.
    * grd : 1d-array
        Values of the field in each grid point. Field can be for example
        topography, gravity anomaly etc
    * shape : tuple = (ny, nx)
        The number of points in the vertical and horizontal grid dimensions,
        respectively

    """
    assert fmt in ['ascii', 'binary'], "Invalid grid format '%s'. Should be \
        'ascii' or 'binary'." % (fmt)
    if fmt == 'ascii':
        # Surfer ASCII grid structure
        # DSAA            Surfer ASCII GRD ID
        # nCols nRows     number of columns and rows
        # xMin xMax       X min max
        # yMin yMax       Y min max
        # zMin zMax       Z min max
        # z11 z21 z31 ... List of Z values
        with open(fname) as ftext:
            # DSAA is a Surfer ASCII GRD ID
            id = ftext.readline()
            # Read the number of columns (nx) and rows (ny)
            nx, ny = [int(s) for s in ftext.readline().split()]
            # Read the min/max value of x (columns/longitue)
            xmin, xmax = [float(s) for s in ftext.readline().split()]
            # Read the min/max value of  y(rows/latitude)
            ymin, ymax = [float(s) for s in ftext.readline().split()]
            # Read the min/max value of grd
            zmin, zmax = [float(s) for s in ftext.readline().split()]
            data = numpy.fromiter((float(i) for line in ftext for i in
                                   line.split()), dtype='f')
            grd = numpy.ma.masked_greater_equal(data, 1.70141e+38)
        # Create x and y numpy arrays
        x = numpy.linspace(xmin, xmax, nx)
        y = numpy.linspace(ymin, ymax, ny)
        x, y = [tmp.ravel() for tmp in numpy.meshgrid(x, y)]
    if fmt == 'binary':
        raise NotImplementedError(
            "Binary file support is not implemented yet.")
    return x, y, grd, (ny, nx)

def regular(area, shape, z=None):
    """
    Create a regular grid. Order of the output grid is x varies first, then y.

    Parameters:

    * area
        ``(x1, x2, y1, y2)``: Borders of the grid
    * shape
        Shape of the regular grid, ie ``(ny, nx)``.
    * z
        Optional. z coordinate of the grid points. If given, will return an
        array with the value *z*.

    Returns:

    * ``[xcoords, ycoords]``
        Numpy arrays with the x and y coordinates of the grid points
    * ``[xcoords, ycoords, zcoords]``
        If *z* given. Numpy arrays with the x, y, and z coordinates of the grid
        points

    """
    ny, nx = shape
    x1, x2, y1, y2 = area
    dy, dx = spacing(area, shape)
    x_range = numpy.arange(x1, x2, dx)
    y_range = numpy.arange(y1, y2, dy)
    # Need to make sure that the number of points in the grid is correct
    # because of rounding errors in arange. Sometimes x2 and y2 are included,
    # sometimes not
    if len(x_range) < nx:
        x_range = numpy.append(x_range, x2)
    if len(y_range) < ny:
        y_range = numpy.append(y_range, y2)
    assert len(x_range) == nx, "Failed! x_range doesn't have nx points"
    assert len(y_range) == ny, "Failed! y_range doesn't have ny points"
    xcoords, ycoords = [mat.ravel()
                        for mat in numpy.meshgrid(x_range, y_range)]
    if z is not None:
        zcoords = z * numpy.ones_like(xcoords)
        return [xcoords, ycoords, zcoords]
    else:
        return [xcoords, ycoords]

def scatter(area, n, z=None, seed=None):
    """
    Create an irregular grid with a random scattering of points.

    Parameters:

    * area
        ``(x1, x2, y1, y2)``: Borders of the grid
    * n
        Number of points
    * z
        Optional. z coordinate of the points. If given, will return an
        array with the value *z*.
    * seed : None or int
        Seed used to generate the pseudo-random numbers. If `None`, will use a
        different seed every time. Use the same seed to generate the same
        random points.

    Returns:

    * ``[xcoords, ycoords]``
        Numpy arrays with the x and y coordinates of the points
    * ``[xcoords, ycoords, zcoords]``
        If *z* given. Arrays with the x, y, and z coordinates of the points

    """
    x1, x2, y1, y2 = area
    numpy.random.seed(seed)
    xcoords = numpy.random.uniform(x1, x2, n)
    ycoords = numpy.random.uniform(y1, y2, n)
    numpy.random.seed()
    if z is not None:
        zcoords = z * numpy.ones(n)
        return [xcoords, ycoords, zcoords]
    else:
        return [xcoords, ycoords]

def spacing(area, shape):
    """
    Returns the spacing between grid nodes

    Parameters:

    * area
        ``(x1, x2, y1, y2)``: Borders of the grid
    * shape
        Shape of the regular grid, ie ``(ny, nx)``.

    Returns:

    * ``[dy, dx]``
        Spacing the y and x directions

    """
    x1, x2, y1, y2 = area
    ny, nx = shape
    dx = float(x2 - x1) / float(nx - 1)
    dy = float(y2 - y1) / float(ny - 1)
    return [dy, dx]

def interp(x, y, v, shape, area=None, algorithm='cubic', extrapolate=False):
    """
    Interpolate data onto a regular grid.

    Parameters:

    * x, y : 1D arrays
        Arrays with the x and y coordinates of the data points.
    * v : 1D array
        Array with the scalar value assigned to the data points.
    * shape : tuple = (ny, nx)
        Shape of the interpolated regular grid, ie (ny, nx).
    * area : tuple = (x1, x2, y1, y2)
        The are where the data will be interpolated. If None, then will get the
        area from *x* and *y*.
    * algorithm : string
        Interpolation algorithm. Either ``'cubic'``, ``'nearest'``,
        ``'linear'`` (see scipy.interpolate.griddata), or ``'nn'`` for nearest
        neighbors (using matplotlib.mlab.griddata)
    * extrapolate : True or False
        If True, will extrapolate values outside of the convex hull of the data
        points.

    Returns:

    * ``[x, y, v]``
        Three 1D arrays with the interpolated x, y, and v

    """
    if algorithm not in ['cubic', 'linear', 'nearest', 'nn']:
        raise ValueError("Invalid interpolation algorithm: " + str(algorithm))
    ny, nx = shape
    if area is None:
        area = (x.min(), x.max(), y.min(), y.max())
    x1, x2, y1, y2 = area
    xs = numpy.linspace(x1, x2, nx)
    ys = numpy.linspace(y1, y2, ny)
    xp, yp = [i.ravel() for i in numpy.meshgrid(xs, ys)]
    if algorithm == 'nn':
        grid = matplotlib.mlab.griddata(x, y, v, numpy.reshape(xp, shape),
                                        numpy.reshape(yp, shape),
                                        interp='nn').ravel()
        if extrapolate and numpy.ma.is_masked(grid):
            grid = extrapolate_nans(xp, yp, grid)
    else:
        grid = interp_at(x, y, v, xp, yp, algorithm=algorithm,
                         extrapolate=extrapolate)
    return [xp, yp, grid]


def interp_at(x, y, v, xp, yp, algorithm='cubic', extrapolate=False):
    """
    Interpolate data onto the specified points.

    Parameters:

    * x, y : 1D arrays
        Arrays with the x and y coordinates of the data points.
    * v : 1D array
        Array with the scalar value assigned to the data points.
    * xp, yp : 1D arrays
        Points where the data values will be interpolated
    * algorithm : string
        Interpolation algorithm. Either ``'cubic'``, ``'nearest'``,
        ``'linear'`` (see scipy.interpolate.griddata)
    * extrapolate : True or False
        If True, will extrapolate values outside of the convex hull of the data
        points.

    Returns:

    * v : 1D array
        1D array with the interpolated v values.

    """
    if algorithm not in ['cubic', 'linear', 'nearest']:
        raise ValueError("Invalid interpolation algorithm: " + str(algorithm))
    grid = scipy.interpolate.griddata((x, y), v, (xp, yp),
                                      method=algorithm).ravel()
    if extrapolate and algorithm != 'nearest' and numpy.any(numpy.isnan(grid)):
        grid = extrapolate_nans(xp, yp, grid)
    return grid

def profile(x, y, v, point1, point2, size, extrapolate=False):
    """
    Extract a data profile between 2 points.

    Uses interpolation to calculate the data values at the profile points.

    Parameters:

    * x, y : 1D arrays
        Arrays with the x and y coordinates of the data points.
    * v : 1D array
        Array with the scalar value assigned to the data points.
    * point1, point2 : lists = [x, y]
        Lists the x, y coordinates of the 2 points between which the profile
        will be extracted.
    * size : int
        Number of points along the profile.
    * extrapolate : True or False
        If True, will extrapolate values outside of the convex hull of the data
        points.

    Returns:

    * [xp, yp, distances, vp] : 1d arrays
        ``xp`` and ``yp`` are the x, y coordinates of the points along the
        profile.
        ``distances`` are the distances of the profile points to ``point1``
        ``vp`` are the data points along the profile.

    """
    x1, y1 = point1
    x2, y2 = point2
    maxdist = numpy.sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2)
    distances = numpy.linspace(0, maxdist, size)
    angle = numpy.arctan2(y2 - y1, x2 - x1)
    xp = x1 + distances * numpy.cos(angle)
    yp = y1 + distances * numpy.sin(angle)
    vp = interp_at(x, y, v, xp, yp, algorithm='cubic', extrapolate=extrapolate)
    return xp, yp, distances, vp


def extrapolate_nans(x, y, v):
    """"
    Extrapolate the NaNs or masked values in a grid INPLACE using nearest
    value.

    .. warning:: Replaces the NaN or masked values of the original array!

    Parameters:

    * x, y : 1D arrays
        Arrays with the x and y coordinates of the data points.
    * v : 1D array
        Array with the scalar value assigned to the data points.

    Returns:

    * v : 1D array
        The array with NaNs or masked values extrapolated.

    """
    if numpy.ma.is_masked(v):
        nans = v.mask
    else:
        nans = numpy.isnan(v)
    notnans = numpy.logical_not(nans)
    v[nans] = scipy.interpolate.griddata((x[notnans], y[notnans]), v[notnans],
                                         (x[nans], y[nans]),
                                         method='nearest').ravel()
    return v


def cut(x, y, scalars, area):
    """
    Return a subsection of a grid.

    The returned subsection is not a copy! In technical terms, returns a slice
    of the numpy arrays. So changes made to the subsection reflect on the
    original grid. Use numpy.copy to make copies of the subsections and avoid
    this.

    Parameters:

    * x, y
        Arrays with the x and y coordinates of the data points.
    * scalars
        List of arrays with the scalar values assigned to the grid points.
    * area
        ``(x1, x2, y1, y2)``: Borders of the subsection

    Returns:

    * ``[subx, suby, subscalars]``
        Arrays with x and y coordinates and scalar values of the subsection.

    """
    xmin, xmax, ymin, ymax = area
    if len(x) != len(y):
        raise ValueError("x and y must have the same length")
    inside = [i for i in xrange(len(x))
              if x[i] >= xmin and x[i] <= xmax
              and y[i] >= ymin and y[i] <= ymax]
    return [x[inside], y[inside], [s[inside] for s in scalars]]

In [15]:
gdf_varginha.unary_union.bounds

(448245.16, 7569035.34, 500012.46, 7622519.96)

In [16]:
# creating a grid with cells 100 x 375m
xu, yu = regular(shape = (500, 500),
                     area = (448245.16, 500012.46, 
                            7569035.34,  7622519.96))

sx, sy = spacing(shape = (1000, 100),
                     area = (448245.16, 500012.46, 
                             7569035.34, 7622519.96))

In [17]:
print(sx, sy)

53.53815815815827 522.9020202020207

In [18]:
#x1, y1 = np.array(gdf_varginha.X), np.array(gdf_varginha.Y)

In [19]:
CTCOR = np.array(gdf_varginha.CTCOR)

MDT = np.array(gdf_varginha.MDT)

eTh = np.array(gdf_varginha.eTh)

eU = np.array(gdf_varginha.eU)

KPERC = np.array(gdf_varginha.KPERC)

In [20]:
x2, y2 = np.array(gdf_varginha.X), np.array(gdf_varginha.Y)

In [21]:
#mdt_ = interp_at(x1, y1, MDT, xu, yu, algorithm = 'cubic', extrapolate = True)

In [22]:
eth_ = interp_at(x2, y2, eTh, xu, yu, algorithm = 'cubic', extrapolate = True)
eu_ = interp_at(x2, y2, eU, xu, yu, algorithm = 'cubic', extrapolate = True)
kperc_ = interp_at(x2, y2, KPERC, xu, yu, algorithm = 'cubic', extrapolate = True)
ctcor_ = interp_at(x2, y2, CTCOR, xu, yu, algorithm = 'cubic', extrapolate = True)
mdt_ = interp_at(x2, y2, MDT, xu, yu, algorithm = 'cubic', extrapolate = True)

In [23]:
# intialise data of lists. 
data = {'X':xu, 'Y':yu, 'MDT': mdt_,  'CT': ctcor_,
        'KPERC': kperc_, 'eU':eu_, 'eTh': eth_} 
  
# Create DataFrame 
geo_data = pd.DataFrame(data) 
  
# Print the output. 
geo_data

,X,Y,MDT,CT,KPERC,eU,eTh
0,448245.160000,7569035.34,1259.365337,1162.641011,0.645641,1.014426,12.998625
1,448348.902084,7569035.34,1293.523919,1014.894423,0.414994,1.392058,11.634912
2,448452.644168,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711
3,448556.386253,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711
4,448660.128337,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711
...,...,...,...,...,...,...,...
249995,499597.491663,7622519.96,965.094240,1513.728316,0.508648,0.947921,18.571917
249996,499701.233748,7622519.96,976.609860,1648.207359,0.486749,1.300272,19.956881
249997,499804.975832,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599
249998,499908.717916,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599
249999,500012.460000,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599

In [29]:
SF_23.plot(figsize=(12,12))
plt.scatter(geo_data.X, geo_data.Y, cmap='hsv', s=10, c=geo_data.CT,vmin=0,vmax=4000)
plt.colorbar(label=u'Contagem Total')
plt.gca().set_aspect('equal')
plt.gcf().set_size_inches(12, 8)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [50]:
geo_data['geometry'] = [geometry.Point(x,y) for x, y in zip(geo_data['X'], geo_data['Y'])]

In [25]:
gdf = gpd.GeoDataFrame(geo_data)

In [31]:
gdf = gdf.set_crs('EPSG:32723')
#rparaim = rparaim.to_crs('EPSG:32723')

In [32]:
gdf = gdf.set_geometry('geometry')

In [33]:
gdf.crs

<Projected CRS: EPSG:32723>
Name: WGS 84 / UTM zone 23S
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: World - S hemisphere - 48°W to 42°W - by country
- bounds: (-48.0, -80.0, -42.0, 0.0)
Coordinate Operation:
- name: UTM zone 23S
- method: Transverse Mercator
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [42]:
SF_23 = SF_23.set_geometry('geometry')

In [34]:
gdf

,X,Y,MDT,CT,KPERC,eU,eTh,geometry
0,448245.160000,7569035.34,1259.365337,1162.641011,0.645641,1.014426,12.998625,POINT (448245.160 7569035.340)
1,448348.902084,7569035.34,1293.523919,1014.894423,0.414994,1.392058,11.634912,POINT (448348.902 7569035.340)
2,448452.644168,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448452.644 7569035.340)
3,448556.386253,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448556.386 7569035.340)
4,448660.128337,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448660.128 7569035.340)
...,...,...,...,...,...,...,...,...
249995,499597.491663,7622519.96,965.094240,1513.728316,0.508648,0.947921,18.571917,POINT (499597.492 7622519.960)
249996,499701.233748,7622519.96,976.609860,1648.207359,0.486749,1.300272,19.956881,POINT (499701.234 7622519.960)
249997,499804.975832,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (499804.976 7622519.960)
249998,499908.717916,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (499908.718 7622519.960)
249999,500012.460000,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (500012.460 7622519.960)

In [3]:
import my_funcs as mf
l_1kk = mf.litologia('l_1kk')
SF_23 = mf.mapa(l_1kk, 'Rio de Janeiro')
SF_23 = SF_23.to_crs('EPSG:32723')

In [62]:
SF_23.plot('SIGLA')
plt.scatter(geo_data.X, geo_data.Y, cmap='hsv', s=10, c=geo_data.eTh, vmin=0, vmax=60)
plt.colorbar(label=u'eTh')
plt.gca().set_aspect('equal')
plt.gcf().set_size_inches(12, 8)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [47]:
type(geo_data)

pandas.core.frame.DataFrame

In [49]:
geo_data

,X,Y,MDT,CT,KPERC,eU,eTh,geometry
0,448245.160000,7569035.34,1259.365337,1162.641011,0.645641,1.014426,12.998625,POINT (448245.16 7569035.34)
1,448348.902084,7569035.34,1293.523919,1014.894423,0.414994,1.392058,11.634912,POINT (448348.9020841683 7569035.34)
2,448452.644168,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448452.6441683367 7569035.34)
3,448556.386253,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448556.3862525051 7569035.34)
4,448660.128337,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448660.1283366734 7569035.34)
...,...,...,...,...,...,...,...,...
249995,499597.491663,7622519.96,965.094240,1513.728316,0.508648,0.947921,18.571917,POINT (499597.4916633398 7622519.96)
249996,499701.233748,7622519.96,976.609860,1648.207359,0.486749,1.300272,19.956881,POINT (499701.2337475082 7622519.96)
249997,499804.975832,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (499804.9758316766 7622519.96)
249998,499908.717916,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (499908.7179158449 7622519.96)
249999,500012.460000,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (500012.4600000133 7622519.96)

In [1]:
SF_23['SIGLA'].iloc[SF_23.distance().idxmin()]

NameError: name 'SF_23' is not defined

In [68]:
geo_data['closest_unid'] = gdf['geometry'].apply(lambda x: SF_23['SIGLA'].iloc[SF_23.distance(x).idxmin()])

IndexError: single positional indexer is out-of-bounds

In [67]:
geo_data

,X,Y,MDT,CT,KPERC,eU,eTh,geometry
0,448245.160000,7569035.34,1259.365337,1162.641011,0.645641,1.014426,12.998625,POINT (448245.16 7569035.34)
1,448348.902084,7569035.34,1293.523919,1014.894423,0.414994,1.392058,11.634912,POINT (448348.9020841683 7569035.34)
2,448452.644168,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448452.6441683367 7569035.34)
3,448556.386253,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448556.3862525051 7569035.34)
4,448660.128337,7569035.34,1319.748234,736.232109,0.270898,0.629410,9.537711,POINT (448660.1283366734 7569035.34)
...,...,...,...,...,...,...,...,...
249995,499597.491663,7622519.96,965.094240,1513.728316,0.508648,0.947921,18.571917,POINT (499597.4916633398 7622519.96)
249996,499701.233748,7622519.96,976.609860,1648.207359,0.486749,1.300272,19.956881,POINT (499701.2337475082 7622519.96)
249997,499804.975832,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (499804.9758316766 7622519.96)
249998,499908.717916,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (499908.7179158449 7622519.96)
249999,500012.460000,7622519.96,991.446872,1804.825881,0.456061,1.690462,21.623599,POINT (500012.4600000133 7622519.96)